<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vramakdockerapp1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>4546e9be-e800-470c-b027-31a57526bed7</ProjectGuid>
    <MSDeployServiceURL>vramakdockerapp1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vramakdockerapp1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vramakdockerapp1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/ce67ae5b-c094-40e5-bf84-5be4243d5eb7/resourcegroups/vramakdockerrg/providers/Microsoft.Web/sites/vramakdockerapp1</ResourceId>
    <ContainerResourceId>/subscriptions/ce67ae5b-c094-40e5-bf84-5be4243d5eb7/resourcegroups/vramakdockerrg/providers/Microsoft.ContainerRegistry/registries/vramakdockerregistry</ContainerResourceId>
    <ContainerResourceName>vramakdockerregistry</ContainerResourceName>
    <ResourceGroup>vramakdockerrg</ResourceGroup>
    <Subscription>Visual Studio Ultimate with MSDN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://vramakdockerregistry-on.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>